body,
ul,
li {
  margin: 0;
}

h1 {
  background-color: rgb(243, 132, 35);
}

body {
  background-color: black;
  font-family: "Sigmar", cursive;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,
form,
.buttons,
#stopWatch {
  display: flex;
  justify-content: center;
  -webkit-text-stroke: 0.05px white;
  color: black;
  /* text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000; */
  font-family: "Sigmar", cursive;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 600;
}

#stopWatch,
form,
.buttons {
  visibility: hidden;
}

.name {
  color: white;
  font-family: "Sigmar", cursive;
  font-size: 20px;
  letter-spacing: 2px;
  margin-right: 10px;
}

.userName {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid rgb(243, 132, 35);
  font-family: "Sigmar", cursive;
  letter-spacing: 2px;
  color: rgb(243, 132, 35);
  background-color: black;
}

textarea:focus,
input:focus {
  outline: none;
}

.arrow-right {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 15px;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

form {
  margin-bottom: 20px;
}

.startBtn,
.resetBtn {
  margin: 10px;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.startBtn:hover,
.resetBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.startBtn:focus,
.resetBtn:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

li {
  list-style: none;
}

.cards {
  flex-wrap: wrap;
  display: none;
  justify-content: center;
  align-items: center;
  width: 60rem;
}

/*  added the border property to demonstrate that the flip itself goes out of the box on hover  */
.card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  padding: 10px;

  /* 3D effect */
  perspective: 1000px;
}

/* Style the back side */
/* .cardback {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
} */

/* position the front and back side */
.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* horizontal flip when you move the mouse over the flip box container */
/* .card:hover .cardInner {
  transform: rotateY(180deg);
} */

.flip {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.cardFront {
  background-image: url(/images/garfield.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Style the back side */
.cardBack {
  transform: rotateY(180deg);
}

img {
  height: 200px;
  width: 200px;
}

table {
  background-color: rgb(243, 132, 35);
  padding: 15px;
}

td {
  color: white;
  -webkit-text-stroke: 0.1px black;
  font-size: 18px;
}

.zebra,
.monkey {
  color: black;
  -webkit-text-stroke: 0.1px white;
  font-size: 18px;
}

.endGame {
  display: none;
  justify-content: center;
  align-items: center;
}

.endGameMsg {
  color: rgb(243, 132, 35);
  width: 300px;
  flex-wrap: wrap;
  font-size: 20px;
}
