body,
ul,
li {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: rgb(243, 132, 35);
}

body {
  background-color: black;
  font-family: "Sigmar", cursive;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,
form,
.buttons,
#stopWatch {
  display: flex;
  justify-content: center;
  -webkit-text-stroke: 0.05px white;
  color: black;
  font-family: "Sigmar", cursive;
  font-size: 29px;
  letter-spacing: 5px;
  font-weight: 600;
}

#stopWatch,
form,
.buttons {
  visibility: hidden;
}

.name {
  color: white;
  font-family: "Sigmar", cursive;
  font-size: 20px;
  letter-spacing: 2px;
  margin-right: 10px;
}

.userName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid rgb(243, 132, 35);
  font-family: "Sigmar", cursive;
  letter-spacing: 2px;
  color: rgb(243, 132, 35);
  background-color: black;
}

textarea:focus,
input:focus {
  outline: none;
}

.arrow-right {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 15px;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-right:hover {
  cursor: pointer;
}

form {
  margin-bottom: 20px;
}

#levels {
  background-color: black;
  color: white;
  font-family: "Sigmar", cursive;
  letter-spacing: 1.5px;
  -webkit-text-stroke: 0.08px black;
}

form:hover {
  cursor: pointer;
}

.startBtn,
.resetBtn {
  margin: 10px;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: rgb(243, 132, 35);
  color: white;
}

.startBtn:hover,
.resetBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.startBtn:focus,
.resetBtn:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

li {
  list-style: none;
}

.cards {
  flex-wrap: wrap;
  display: none;
  justify-content: center;
  align-items: center;
  min-width: 360px;
  max-width: 720px;
  margin-top: 25px;
}

/*  added the border property to demonstrate that the flip itself goes out of the box on hover  */
.card {
  background-color: transparent;
  width: 150px;
  height: 145px;
  padding: 10px;

  /* 3D effect */
  perspective: 1000px;
}

.card:hover {
  cursor: pointer;
}

/* position the front and back side */
.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.cardFront,
.cardBack {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.cardFront {
  background-image: url(/images/garfield.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Style the back side */
.cardBack {
  transform: rotateY(180deg);
}

img {
  height: 114px;
  width: 157px;
}

.easyScoreBoard {
  visibility: hidden;
  background-color: rgb(243, 132, 35);
  padding: 15px;
  position: fixed;
  top: 150px;
  left: 0px;
}

.mediumScoreBoard {
  visibility: hidden;
  background-color: rgb(243, 132, 35);
  padding: 15px;
  position: fixed;
  top: 150px;
  left: 0px;
}

.hardScoreBoard {
  visibility: hidden;
  background-color: rgb(243, 132, 35);
  padding: 15px;
  position: fixed;
  top: 150px;
  left: 0px;
}

td {
  color: white;
  -webkit-text-stroke: 0.1px black;
  font-size: 18px;
}

.newNameData,
.newScoreData {
  color: black;
  -webkit-text-stroke: 0.1px white;
  font-size: 18px;
}

.endGame {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.endGameMsg {
  color: rgb(243, 132, 35);
  width: 310px;
  flex-wrap: wrap;
  font-size: 20px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .userName {
    flex-direction: row;
  }
}
